---
http_interactions:
- request:
    method: post
    uri: https://api.quantiguous.com/NotificationService
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soap12:Envelope xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <soap12:Header/>
          <soap12:Body>
            <ns:getTopics xmlns:ns="http://www.quantiguous.com/services">
              <ns:version>1</ns:version>
              <ns:appID>app1212</ns:appID>
              <ns:criteria>
                <ns:topicGroup>fd</ns:topicGroup>
                <ns:subscriber>
                  <ns:customerID>2727</ns:customerID>
                  <ns:subscribed>true</ns:subscribed>
                </ns:subscriber>
              </ns:criteria>
            </ns:getTopics>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Authorization:
      - Basic Z3Vlc3Q6cWcxMjMkIw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><NS1:getTopicsResponse
        xmlns:NS1="http://www.quantiguous.com/services"><NS1:version>1</NS1:version><NS1:topicsArray><NS1:topic><NS1:topicName>subscriptiontopic</NS1:topicName><NS1:topicDisplayName>subscriptiontopic</NS1:topicDisplayName><NS1:topicGroup>fd</NS1:topicGroup><NS1:needsSubscription>true</NS1:needsSubscription><NS1:notifyByEmail>true</NS1:notifyByEmail><NS1:notifyBySMS>true</NS1:notifyBySMS><NS1:canBeBatched>false</NS1:canBeBatched><NS1:subscriptionProvider>Finacle</NS1:subscriptionProvider><NS1:criteriaDefinitionArray><NS1:criteriaDefinition><NS1:name>amountlessthan</NS1:name><NS1:valueDataType>decimal</NS1:valueDataType><NS1:condition>minInclusive</NS1:condition></NS1:criteriaDefinition></NS1:criteriaDefinitionArray><NS1:subscription><NS1:subscribedAt>2016-07-08T11:59:48</NS1:subscribedAt><NS1:criteriaArray><NS1:criteria><NS1:name>amountlessthan</NS1:name><NS1:value><NS1:decimalValue>1000</NS1:decimalValue></NS1:value></NS1:criteria></NS1:criteriaArray></NS1:subscription></NS1:topic><NS1:topic><NS1:topicName>minexclusivesubscription</NS1:topicName><NS1:topicDisplayName>minexclusivesubscription</NS1:topicDisplayName><NS1:topicGroup>fd</NS1:topicGroup><NS1:needsSubscription>true</NS1:needsSubscription><NS1:notifyByEmail>true</NS1:notifyByEmail><NS1:notifyBySMS>true</NS1:notifyBySMS><NS1:canBeBatched>false</NS1:canBeBatched><NS1:subscriptionProvider>Finacle</NS1:subscriptionPro[...]
