---
http_interactions:
- request:
    method: post
    uri: https://api.quantiguous.com/NotificationService
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soap12:Envelope xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <soap12:Header/>
          <soap12:Body>
            <ns:getTopics xmlns:ns="http://www.quantiguous.com/services">
              <ns:version>1</ns:version>
              <ns:appID>app1212</ns:appID>
              <ns:criteria>
                <ns:topicGroup>abc</ns:topicGroup>
                <ns:subscriber>
                  <ns:customerID>1234</ns:customerID>
                  <ns:subscribed>true</ns:subscribed>
                </ns:subscriber>
              </ns:criteria>
            </ns:getTopics>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Authorization:
      - Basic Z3Vlc3Q6cWcxMjMkIw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><NS1:getTopicsResponse
        xmlns:NS1="http://www.quantiguous.com/services"><NS1:version>1</NS1:version><NS1:topicsArray></NS1:topicsArray></NS1:getTopicsResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Sat, 23 Jul 2016 06:38:34 GMT
recorded_with: VCR 3.0.3
